<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maybe.phone_lab.org.maybelibrary" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="maybe.phone_lab.org.maybe.library.QueryIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name="maybe.phone_lab.org.maybe.library.PullReceiver" >
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="maybe.phone_lab.org.maybe.library.pull_intent" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
